
// create my own map
$theme-colors: (
  "danger": orange,
);

// merge the maps

// $theme-colors: map-merge($theme-colors, $custom-colors);

@import "node_modules/bootstrap/scss/bootstrap";

// Command to run Sass compiler manually: sass --watch main.scss main.css (use if live sass compiler extension not working)



body{
  font-family: 'Oxygen', sans-serif !important;
}

h1, .h1{
  color: $indigo-600 !important;
  font-family: 'Oxygen', sans-serif;
}

h2, .h2 {
  font-family: 'Oxygen', sans-serif;
}

.text-dark {
  color: #864bef !important;
}



a, .a {
  font-family: 'Oxygen', sans-serif;
}


.navbar {
  font-family: 'Oxygen', sans-serif;
}

.btn {
  font-family: 'Oxygen', sans-serif !important;
}

.btn-primary, .bg-primary {
  background-color: $indigo-700 !important;
}

.bg-theme {
  background-color:  #6b4bef !important;
}

p, .p{
  font-family: 'Oxygen', sans-serif !important;
}

// .bg-dark {
//   background-color: pink !important;
//   // background-color: #3f2370 !important;
// }

.bg-light {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: .99 !important;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


.bg-gray {
  // background-color: #ced4da;
  // background-color: #dee2e6;
  // background-color: #e9ecef;
  background-color: #f7f8f9;
}

.bg-birch {
  background-color: #dfd7c8;
}

.bg-purple {
  background-color: $indigo-900;
}

.bg-purple-dark {
  background-color: #0e0222;
}

.bg-purple-light {
  // background-color: #f5f0fc;
  // background-color: #f6f2fc;
  background-color: #f8f5fc;
}

.short-text {
  display: none;
}

.logo-small {
  display: none;
}

@media (max-width: 575.98px) {
  #topnav {
    // color:orange !important;
    // font-size: 1rem !important;
    // margin-right: 1rem;
  }
  .short-text { display: inline-block;}
  .full-text { display: none;}
}

@media (max-width:1199.98px) {
  .logo-small {
    display: block;
  }
}





// .navbar {
//   --bs-navbar-brand-font-size: 1.23rem;
// }

// .navbar-brand {
//   font-size: 1.20rem !important;
// }

