

// Command to run Sass compiler manually: sass --watch main.scss main.css (use if live sass compiler extension not working)

// create my own map
$custom-colors: (
  "custom-indigo-400": #864bef
);

// merge the maps

// $theme-colors: map-merge($theme-colors, $custom-colors);



body{
  font-family: 'Oxygen', sans-serif !important;

}

h1, .h1{
  color: #864bef !important;
  font-family: 'Oxygen', sans-serif;
}

h2, .h2 {
  font-family: 'Oxygen', sans-serif;
}

.text-dark {
  color: #864bef !important;
}



a, .a {
  font-family: 'Oxygen', sans-serif;
}


.navbar {
  font-family: 'Oxygen', sans-serif;

}

.btn {
  font-family: 'Oxygen', sans-serif !important;
}

.btn-primary, .bg-primary {
  // background-color: #6b4bef;
  background-color:  #6b4bef !important;

}

.bg-theme {
  background-color:  #6b4bef !important;
}

p, .p{
  font-family: 'Oxygen', sans-serif !important;
}

$body-bg: red;
$body-color: blue;

// .bg-dark {
//   background-color: pink !important;
//   // background-color: #3f2370 !important;
// }

.bg-light {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: .9 !important;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


.bg-gray {
  // background-color: #ced4da;
  // background-color: #dee2e6;
  // background-color: #e9ecef;
  background-color: #f7f8f9;
}

.bg-birch {
  background-color: #dfd7c8;
}



$theme-colors: (
  "primary": #6b4bef,

);

@import "node_modules/bootstrap/scss/bootstrap";